
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}
.countries {
    width: 40%;
    margin: 10px auto;
    font-family: 'Montserrat', sans-serif;
}

.countries ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos fluyan a una nueva línea si no caben en el ancho disponible */
    justify-content: space-between; /* Distribuye los elementos equitativamente a lo largo del contenedor */

}

.countries li {
    flex-basis: calc(33.33% - 10px); /* Ajusta el tamaño de cada elemento para que haya tres por fila */
    margin: 8px;
}
.card{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(180deg, #27d989 0%, #92d5ff 100%);
    color: #fff;
    margin: 30px auto;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 50px 30px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
border: 0;
outline: 0;
background: #ebfffc;
padding: 15px 25px;
font-family: 'Montserrat', sans-serif;
height: 60px;
border-radius: 30px;
flex: 1;
margin-right: 16px;
font-size: 14px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}
.search button img{
width: 17px;
}
.error{
    margin-left: 10px;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h2{
    font-size: 18px;
    font-weight: 500;
}
.weather h3{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin-top: 40px;
}
.col{
   display: flex;
   justify-content: center;
   align-items: center;

}
.col img{
    width: 40px;
    margin: 20px;

}

 .weather{
    display: none;
}.countries a {
    text-decoration: none;
    color: #907575;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative; /* Establece el contexto de posición para el pseudo-elemento */
}

.countries a::before {
    content: ''; /* Agrega un contenido al pseudo-elemento */
    position: absolute;
    bottom: -3px; /* Coloca la línea debajo del texto */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* Color de la línea */
    transform: scaleX(0); /* Inicialmente, la línea está invisible */
    transform-origin: center; /* Origin del efecto de escala */
    transition: transform 0.3s ease;
}

.countries a:hover::before {
    transform: scaleX(1); /* Escala la línea para que sea visible al pasar el mouse */
}

@media (min-width: 800px) {
    .countries {
        width: 30%;
        margin: 0 auto; /* Elimina el margen para aprovechar mejor el espacio */
    }
    
    .countries ul {
        display: flex;
        flex-wrap: wrap; /* Permitir que los elementos fluyan a una nueva línea si no caben en el ancho disponible */
        justify-content: flex-start; /* Alinea los elementos a la izquierda */
        padding: 0;
    }
    
    .countries li {
        flex-basis: calc(33.33% - 10px); /* Ajusta el tamaño de cada elemento para que haya tres por fila */
        margin: 5px;
    }   
}
@media (max-width: 470px) {
    .search button {
      width: 40px;
      height: 40px;
    }
    .details {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centra los elementos en el eje vertical */
    }
    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
    
  }
}

